h1 {
    font-family: "Press Start 2P", serif;
    color: #62C370;
    font-size: 40px;
    text-shadow: 4px 4px 0 #000;
    




}

h2 {
    font-family: "Press Start 2P", serif;
    color: #FFF;
    text-shadow: 4px 4px 0 #000;
    font-size: 30px;
    margin-top: 28px;
   


}